/* .footr {
    position: absolute;
    bottom: 0;
    width: 99%;
    height: 48px;
    background: green
} */

.footr {
    position: fixed;
    bottom: 0px;
    overflow: hide;
    width: 100%;
    height: 48px;
    background: green
  }