<table datatable [dtOptions]="dtOptions" class="row-border hover">
    <tfoot>
      <tr>
        <th><input type="text" placeholder="Search Product" name="search-truck"/></th>
        <th><input type="text" placeholder="Search Unit" name="search-first-name"/></th>
        <th><input type="text" placeholder="Search Rs" name="search-last-name"/></th>
        <th><input type="text" placeholder="Search Quntity name" name="search-last-name"/></th>
        <th><input type="text" placeholder="Search Date" name="search-last-name"/></th> 
      </tr>
    </tfoot>
  </table>