<div id="sb-toggle-left" role="button" tabindex="0" class="sb-slide-nav sb-icons sb-icon-Hamburger"
    aria-label="Toggle all controls navigation" aria-expanded="false" aria-controls="left-sidebar"
    title="toggle left pane" style="cursor:pointer;"></div>
<div class="row">

    <div class="topnav dash header" id="sb-toggle-left">

        <a [routerLink]="['/dashboard']">Home</a>
        <a [routerLink]="['/loadingDetails']">Loading</a>
        <a [routerLink]="['/loadingList']">LoadingList</a>
        <a [routerLink]="['/driverlist']">Drivers</a>
        <a [routerLink]="['/driverExpenditure']">DriverExpenditureDetails</a>
        <div style="float: right;">
            <img src="assets/imeges/logo-color.png">
        </div>
    </div>

</div>