
<table datatable [dtOptions]="dtOptions" class="row-border hover">
    <tfoot>
      <tr>
        <th><input type="text" placeholder="Search Aadhar" name="search-aadhar"/></th>
        <th><input type="text" placeholder="Search lincence" name="search-name"/></th>
        <th><input type="text" placeholder="Search name" name="search-name"/></th>
        <th><input type="text" placeholder="Search father name" name="search-fathername"/></th>
        <th><input type="text" placeholder="Search age" name="search-age"/></th>
        <th><input type="text" placeholder="Search joining date" name="search-joining date"/></th>
        <th><input type="text" placeholder="Search leaving date" name="search-leaving date"/></th>
        <th><input type="text" placeholder="Search address" name="search-address"/></th>
        <th><input type="text" placeholder="Search comment" name="search-comment"/></th>
        <th><input type="text" placeholder="Search id" name="search-id"/></th>
      </tr>
    </tfoot>
  </table>
  